MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority
PORT=8080
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=asdhjasgdhjasgdhk
CLERK_SECRET_KEY=asdbjaksdbjasbdjkas
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=your_region
S3_BUCKET_NAME=your_bucket_name